/* #root {
  /* max-width: 1280px; */
  /* margin: 0 auto;  */
  /* padding: 2rem;  */
  /* text-align: center;  */
/* } */ 
.Homepage{
  text-align: center;
  margin: 15% 0;
}
.Header{
  /* max-width: 1280px; */
  /* margin: 0 50% 0 50% ; */
  /* width:100%; */
  text-align: center;
  padding: 2rem;
  border: 1px solid black;
  background-color: #80ed99;
}
.title{
  /* border: 1px solid black; */
  font-size: 40px;
  width: 300px;
  /* margin: 0 50% 0 50%; */
  /* text-align: center; */
}
.all{
  display: grid;
  grid-template-columns: 40% 40% 1fr;
  grid-template-rows:1fr 1fr ;


}
img{
  width: 500px;
  /* border: 1px solid red; */
  grid-column: 1/2;
  grid-row:1/2;
}
.summary{
  /* border: 1px solid black; */
  width: 600px;
  grid-column: 1/2;
  grid-row: 2/3;
  background-color: #c7f9cc;
  /* display: inline; */
}
.servings{
  /* border: 1px solid black; */
  width: 200px; 
  background-color: #c7f9cc;
}
.instructions{
  /* border: 1px solid black; */
  width: 500px; 
  grid-column: 2/3;
  grid-row: 1/2;
  background-color: #c7f9cc;

}
.instructions ol{
  text-align: left;
}
.ingredientList{
  /* border: 1px solid black; */
  width: 500px; 
  margin-top: 5px;
  background-color: #c7f9cc;
}
ul{
  /* border: 1px solid black; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.Label{
  font-size: 25px;
}
